<section id="cta-bar" class="bg-[url('/images/3019d_04.webp')] bg-cover bg-fixed text-white">
  <div class="bg-black/80">
    <div class="mx-auto max-w-7xl px-6 lg:px-8 py-24 sm:py-32 text-center">
      <p class="text-4xl font-semibold tracking-tight text-pretty text-gray-100 sm:text-5xl lg:text-balance mb-3">3019 62nd Ave SW, <span class="whitespace-nowrap">Unit D</span></p>
      <h3 class="text-2xl font-semibold md:text-4xl mb-6">Seattle, WA 98116</h3>
      <p class="mb-6 text-lg/8 text-gray-300 mx-auto max-w-lg">Schedule a private showing or stop by during an open house — we’d love to show you around!</p>
      <div class="flex items-center justify-center gap-6">
        <a href="#" class="rounded-md transition bg-emerald-600 px-3.5 py-2.5 font-semibold text-white shadow-xs hover:bg-emerald-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600 drop-shadow-sm">Schedule a showing</a>
        <a class="font-semibold" href="#tour">Take a tour -></a>
      </div>
    </div>
  </div>
</section>