<div class="relative isolate px-6 lg:px-8">
<div id="slideshow" class="absolute inset-0 -z-10 overflow-hidden">
  <img class="brightness-90 hidden opacity-0 animate-kenburns absolute h-full w-full scale-110 object-cover transition-opacity duration-1000" src="/images/3019d_02.webp" width="1086" height="723" alt="Townhome kitchen 1" loading="eager">
  <img class="brightness-90 hidden opacity-0 animate-kenburns absolute h-full w-full scale-110 object-cover transition-opacity duration-1000" src="/images/3019d_04.webp" width="1086" height="723" alt="Townhome living room 1" loading="lazy">
  <img class="brightness-90 hidden opacity-0 animate-kenburns absolute h-full w-full scale-110 object-cover transition-opacity duration-1000" src="/images/3019d_05.webp" width="1086" height="723" alt="Townhome living room 2" loading="lazy">
  <img class="brightness-90 hidden opacity-0 animate-kenburns absolute h-full w-full scale-110 object-cover transition-opacity duration-1000" src="/images/3019d_08.webp" width="1086" height="723" alt="Townhome kitchen 2" loading="lazy">
  <img class="brightness-90 hidden opacity-0 animate-kenburns absolute h-full w-full scale-110 object-cover transition-opacity duration-1000" src="/images/3019d_10.webp" width="1086" height="723" alt="Townhome study" loading="lazy">
  <img class="brightness-90 hidden opacity-0 animate-kenburns absolute h-full w-full scale-110 object-cover transition-opacity duration-1000" src="/images/3019d_11.webp" width="1086" height="723" alt="Townhome bathroom" loading="lazy">
  <img class="brightness-90 hidden opacity-0 animate-kenburns absolute h-full w-full scale-110 object-cover transition-opacity duration-1000" src="/images/3019d_12.webp" width="1086" height="723" alt="Townhome bedroom" loading="lazy">
  <img class="brightness-90 hidden opacity-0 animate-kenburns absolute h-full w-full scale-110 object-cover transition-opacity duration-1000" src="/images/3019d_13.webp" width="1086" height="723" alt="Townhome master bedroom" loading="lazy">
  <img class="brightness-90 hidden opacity-0 animate-kenburns absolute h-full w-full scale-110 object-cover transition-opacity duration-1000" src="/images/3019d_14.webp" width="1086" height="723" alt="Townhome master bathroom 1" loading="lazy">
  <img class="brightness-90 hidden opacity-0 animate-kenburns absolute h-full w-full scale-110 object-cover transition-opacity duration-1000" src="/images/3019d_15.webp" width="1086" height="723" alt="Townhome master bathroom 2" loading="lazy">
  <img class="brightness-90 hidden opacity-0 animate-kenburns absolute h-full w-full scale-110 object-cover transition-opacity duration-1000" src="/images/3019d_16.webp" width="1024" height="682" alt="Townhome rooftop patio" loading="lazy">
  <img class="brightness-90 hidden opacity-0 animate-kenburns absolute h-full w-full scale-110 object-cover transition-opacity duration-1000" src="/images/3019d_17.webp" width="1024" height="576" alt="Townhome aerial view" loading="lazy">
</div>
<div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
  <div class="bg-radial from-black/30 to-70% to-transparent 1aspect-square">
  <div class="text-center">
  <h1 class="text-5xl font-semibold tracking-tight text-balance text-white drop-shadow-sm sm:text-7xl">Modern comfort, coastal vibe</h1>
  <div class="mt-10 flex items-center justify-center gap-x-6">
    <a target="_blank" href="https://calendly.com/jesset-6qjd/30min" class="rounded-md transition bg-emerald-600 px-3.5 py-2.5 font-semibold text-white shadow-xs hover:bg-emerald-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600 drop-shadow-sm">Schedule a private tour <span aria-hidden="true">→</span></a>
    <a href="#tour" class="font-semibold text-white drop-shadow-sm">See open house dates</a>
  </div>
  </div>
  </div>
</div>
</div>