<nav class="absolute z-10 text-white text-lg px-12 py-10 drop-shadow w-full">
  <ul class="flex -ml-4 items-center justify-end md:justify-start">
	<li class="hidden md:block"><a class="px-4 py-2 hover:bg-black/[.05] rounded-full transition block" href="#overview">Overview</a></li>
	<li class="hidden md:block"><a class="px-4 py-2 hover:bg-black/[.05] rounded-full transition block" href="#features">Features</a></li>
	<li class="hidden md:block"><button id="nav-photos-link" class="px-4 py-2 hover:bg-black/[.05] rounded-full transition block cursor-pointer">Photos</button></li>
	<li class="hidden md:block"><a class="px-4 py-2 hover:bg-black/[.05] rounded-full transition block" href="#video">Video Tour</a></li>
	<li class="hidden md:block"><a class="px-4 py-2 hover:bg-black/[.05] rounded-full transition block" href="#map">Map</a></li>
	<li class="hidden md:block"><a class="px-4 py-2 hover:bg-black/[.05] rounded-full transition block" href="#contact">Contact</a></li>
	<li class="md:hidden"><button id="openMenuButton2" class="px-4 py-2 hover:bg-black/[.05] rounded-full transition block cursor-pointer flex gap-2 items-center drop-shadow">
				<svg class="h-5 w-5 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M3 5C3 4.44772 3.44772 4 4 4L20 4C20.5523 4 21 4.44772 21 5C21 5.55229 20.5523 6 20 6L4 6C3.44772 6 3 5.55228 3 5Z"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M3 12C3 11.4477 3.44772 11 4 11L20 11C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13L4 13C3.44772 13 3 12.5523 3 12Z"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M3 19C3 18.4477 3.44772 18 4 18L20 18C20.5523 18 21 18.4477 21 19C21 19.5523 20.5523 20 20 20L4 20C3.44772 20 3 19.5523 3 19Z"/>
				</svg>
			Menu
		</button>
	</li>
  </ul>
</nav>
	<button id="openMenuButton" class="px-3 py-2 rounded-full focus:outline-0 flex gap-2 items-center fixed top-6 right-6 z-20 bg-white/70 hover:bg-white/100 transition rounded-sm shadow text-xs uppercase opacity-0">
		<svg class="h-5 w-5 fill-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M3 5C3 4.44772 3.44772 4 4 4L20 4C20.5523 4 21 4.44772 21 5C21 5.55229 20.5523 6 20 6L4 6C3.44772 6 3 5.55228 3 5Z"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M3 12C3 11.4477 3.44772 11 4 11L20 11C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13L4 13C3.44772 13 3 12.5523 3 12Z"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M3 19C3 18.4477 3.44772 18 4 18L20 18C20.5523 18 21 18.4477 21 19C21 19.5523 20.5523 20 20 20L4 20C3.44772 20 3 19.5523 3 19Z"/>
		</svg>
	Menu
</button>
<nav id="verticalMenu" class="bg-white h-screen text-black font-lora fixed top-0 right-0 z-20 text-light font-light border-l-2 translate-x-full transition-transform">
	<button id="closeMenuButton" class="p-2 rounded-full focus:outline-0 cursor-pointer">
		<svg class="h-6 w-6 fill-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
		<path d="M4.11654 18.116C3.62839 18.6041 3.62839 19.3956 4.11654 19.8838C4.6047 20.3719 5.39616 20.3719 5.88431 19.8838L19.8843 5.88376C20.3725 5.39561 20.3725 4.60415 19.8843 4.11599C19.3962 3.62784 18.6047 3.62784 18.1165 4.11599L4.11654 18.116Z"/>
		<path d="M5.88434 4.11599C5.39619 3.62784 4.60473 3.62784 4.11657 4.11599C3.62842 4.60415 3.62842 5.39561 4.11657 5.88376L18.1166 19.8838C18.6047 20.3719 19.3962 20.3719 19.8843 19.8838C20.3725 19.3956 20.3725 18.6041 19.8843 18.116L5.88434 4.11599Z"/>
		</svg>
		<span class="sr-only">Close menu</span>
	  </button>
  <ul class="flex flex-col text-3xl gap-3 text-right px-6 pb-8 pt-3">
	<li><a class="text-emerald-900 hover:text-black transition" href="#overview">Overview</a></li>
	<li><a class="text-emerald-900 hover:text-black transition" href="#features">Features</a></li>
	<li><button id="nav-photos-link2" class="text-emerald-900 hover:text-black transition cursor-pointer">Photos</button></li>
	<li><a class="text-emerald-900 hover:text-black transition" href="#video">Video Tour</a></li>
	<li><a class="text-emerald-900 hover:text-black transition" href="#map">Map</a></li>
	<li><a class="text-emerald-900 hover:text-black transition" href="#contact">Contact</a></li>
  </ul>
</nav>