<nav class="absolute z-10 w-full px-12 py-10 text-lg text-white drop-shadow">
	<ul class="-ml-4 flex items-center justify-end md:justify-start">
	  <li class="hidden md:block"><a class="block rounded-full px-4 py-2 transition hover:bg-black/[.05]" href="#overview">Overview</a></li>
	  <li class="hidden md:block"><a class="block rounded-full px-4 py-2 transition hover:bg-black/[.05]" href="#features">Features</a></li>
	  <li class="hidden md:block"><button id="nav-photos-link" class="block cursor-pointer rounded-full px-4 py-2 transition hover:bg-black/[.05]">Photos</button></li>
	  <li class="hidden md:block"><a class="block rounded-full px-4 py-2 transition hover:bg-black/[.05]" href="#video">Video Tour</a></li>
	  <li class="hidden md:block"><a class="block rounded-full px-4 py-2 transition hover:bg-black/[.05]" href="#map">Map</a></li>
	  <li class="hidden md:block"><a class="block rounded-full px-4 py-2 transition hover:bg-black/[.05]" href="#contact">Contact</a></li>
	  <li class="md:hidden">
		<button id="openMenuButton2" class="block flex cursor-pointer items-center gap-2 rounded-full px-4 py-2 drop-shadow transition hover:bg-black/[.05]">
		  <svg class="h-5 w-5 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M3 5C3 4.44772 3.44772 4 4 4L20 4C20.5523 4 21 4.44772 21 5C21 5.55229 20.5523 6 20 6L4 6C3.44772 6 3 5.55228 3 5Z" />
			<path fill-rule="evenodd" clip-rule="evenodd" d="M3 12C3 11.4477 3.44772 11 4 11L20 11C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13L4 13C3.44772 13 3 12.5523 3 12Z" />
			<path fill-rule="evenodd" clip-rule="evenodd" d="M3 19C3 18.4477 3.44772 18 4 18L20 18C20.5523 18 21 18.4477 21 19C21 19.5523 20.5523 20 20 20L4 20C3.44772 20 3 19.5523 3 19Z" />
		  </svg>
		  Menu
		</button>
	  </li>
	</ul>
  </nav>
  <button id="openMenuButton" class="fixed top-6 right-6 z-20 flex items-center gap-2 rounded-full rounded-sm bg-white/70 px-3 py-2 text-xs uppercase opacity-0 shadow transition hover:bg-white/100 focus:outline-0">
	<svg class="h-5 w-5 fill-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
	  <path fill-rule="evenodd" clip-rule="evenodd" d="M3 5C3 4.44772 3.44772 4 4 4L20 4C20.5523 4 21 4.44772 21 5C21 5.55229 20.5523 6 20 6L4 6C3.44772 6 3 5.55228 3 5Z" />
	  <path fill-rule="evenodd" clip-rule="evenodd" d="M3 12C3 11.4477 3.44772 11 4 11L20 11C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13L4 13C3.44772 13 3 12.5523 3 12Z" />
	  <path fill-rule="evenodd" clip-rule="evenodd" d="M3 19C3 18.4477 3.44772 18 4 18L20 18C20.5523 18 21 18.4477 21 19C21 19.5523 20.5523 20 20 20L4 20C3.44772 20 3 19.5523 3 19Z" />
	</svg>
	Menu
  </button>
  <nav id="verticalMenu" class="font-lora text-light fixed top-0 right-0 z-20 h-screen translate-x-full border-l-2 bg-white font-light text-black transition-transform">
	<button id="closeMenuButton" class="cursor-pointer rounded-full p-2 focus:outline-0">
	  <svg class="h-6 w-6 fill-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
		<path d="M4.11654 18.116C3.62839 18.6041 3.62839 19.3956 4.11654 19.8838C4.6047 20.3719 5.39616 20.3719 5.88431 19.8838L19.8843 5.88376C20.3725 5.39561 20.3725 4.60415 19.8843 4.11599C19.3962 3.62784 18.6047 3.62784 18.1165 4.11599L4.11654 18.116Z" />
		<path d="M5.88434 4.11599C5.39619 3.62784 4.60473 3.62784 4.11657 4.11599C3.62842 4.60415 3.62842 5.39561 4.11657 5.88376L18.1166 19.8838C18.6047 20.3719 19.3962 20.3719 19.8843 19.8838C20.3725 19.3956 20.3725 18.6041 19.8843 18.116L5.88434 4.11599Z" />
	  </svg>
	  <span class="sr-only">Close menu</span>
	</button>
	<ul class="flex flex-col gap-3 px-6 pt-3 pb-8 text-right text-3xl">
	  <li><a class="text-emerald-900 transition hover:text-black" href="#overview">Overview</a></li>
	  <li><a class="text-emerald-900 transition hover:text-black" href="#features">Features</a></li>
	  <li><button id="nav-photos-link2" class="cursor-pointer text-emerald-900 transition hover:text-black">Photos</button></li>
	  <li><a class="text-emerald-900 transition hover:text-black" href="#video">Video Tour</a></li>
	  <li><a class="text-emerald-900 transition hover:text-black" href="#map">Map</a></li>
	  <li><a class="text-emerald-900 transition hover:text-black" href="#contact">Contact</a></li>
	</ul>
</nav>  