<section id="next-steps" class="mx-auto max-w-7xl px-6 lg:px-8 py-20 sm:py-24">
  <div class="flex flex-col md:flex-row gap-12 md:gap-32">
    <h2 class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl lg:text-balance whitespace-nowrap shrink-0">Next steps</h2>
    <div class="">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-emerald-700">
              {% include /icons/calendar.svg class="size-6 text-white" %}
            </div>
            Tour the Home
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600">Join us for an open house on <strong>April 27</strong> or <a href="#get-in-touch" class="underline">contact us</a> to schedule a private showing.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-emerald-700">
              <svg class="size-6 text-white" viewBox="0 0 24 24" fill="none">
              <path d="M18 6V4C18 2.89543 17.1046 2 16 2H4C2.89543 2 2 2.89543 2 4V20C2 21.1046 2.89543 22 4 22H16C17.1046 22 18 21.1046 18 20V18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M21.707 8.87868L21.1212 8.29289C20.7306 7.90237 20.0975 7.90237 19.707 8.29289L12.928 15.0718C12.6488 15.351 12.4585 15.7066 12.3811 16.0938L11.9998 18L13.9061 17.6188C14.2932 17.5413 14.6488 17.351 14.928 17.0718L21.707 10.2929C22.0975 9.90237 22.0975 9.2692 21.707 8.87868Z" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
              <path d="M18 10L20 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M5 19H6L7.25 16.5L8.5 19H9.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M6 6H14" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M6 10H12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            Making an Offer
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600">Include a pre-approval letter or proof of funds and note your preferred closing and possession dates.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-emerald-700">              
              <svg class="size-6 text-white" viewBox="0 0 24 24" fill="none">
              <path d="M6.5 11.5H5.5M10.5 11.5H9.5M6.5 7.5H5.5M10.5 7.5H9.5M5.5 15.5H6.5M9.5 15.5H10.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M18 15.5H17M18 11.5H17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M13.5 8.49997V4.5C13.5 3.39543 12.6046 2.5 11.5 2.5H4.5C3.39543 2.5 2.5 3.39543 2.5 4.5V21.5L13.5 21.5M13.5 8.49997H19.5C20.6046 8.49997 21.5 9.3954 21.5 10.5V21.5L13.5 21.5M13.5 8.49997V21.5" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
              </svg>
            </div>
            Title & Escrow
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600">Seller prefers to use Rainer Title for title and escrow services but is open to buyer requests.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-emerald-700">
              <svg class="size-6 text-white" viewBox="0 0 24 24" fill="none">
              <path d="M22 6.75H18L15.7558 5.25685C15.263 4.92636 14.6839 4.75 14.0917 4.75H11.7426C10.947 4.75 10.1839 5.06795 9.62132 5.63391L7 8.27083L8.10218 9.15782C8.89796 9.79823 10.0452 9.73432 10.7658 9.00942L12 7.76785H13L19 13.8036C19.5523 14.3591 19.5523 15.2599 19 15.8155C18.4477 16.371 17.5523 16.371 17 15.8155L16.5 15.3125M13.5 12.2946L16.5 15.3125M16.5 15.3125C17.0523 15.8681 17.0523 16.7688 16.5 17.3244C15.9477 17.88 15.0523 17.88 14.5 17.3244L13.5 16.3184M13.5 16.3184C14.0523 16.874 14.0523 17.7748 13.5 18.3303C12.9477 18.8859 12.0523 18.8859 11.5 18.3303L10 16.8214M13.5 16.3184L11.5 14.3184M9.5 16.3184L10 16.8214M10 16.8214C10.5523 17.377 10.5523 18.2777 10 18.8333C9.44772 19.3889 8.55229 19.3889 8 18.8333L4 14.75H2" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M22 14.75H19.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
              <path d="M8.5 6.75L2 6.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
              </svg>
            </div>
            Buyer Agent Commission
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600">The seller is offering commission to licensed buyer agents. Terms can be negotiated as part of the offer.</dd>
        </div>
      </dl>
    </div>
  </div>
</section>