<section id="overview" class="mx-auto max-w-2xl px-6 py-20 sm:py-24 lg:max-w-7xl lg:px-8">
  <div class="flex flex-col gap-12 lg:flex-row lg:gap-20">
    <div class="flex flex-1 flex-col gap-8">
      <h2 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">3019 62nd Ave SW, <span class="whitespace-nowrap">Unit D</span></h2>
      <div class="relative flex justify-start">
        <details class="">
          <summary class="marker:hidden marker:content-[''] flex">
            <span class="flex items-center gap-0.5 text-sm rounded-md transition border border-emerald-600 px-2 py-1 font-semibold shadow-xs hover:bg-emerald-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600 bg-white text-emerald-700 hover:text-white cursor-pointer">
              Documents
              <svg class="size-3" viewBox="0 0 24 24" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99977 8.25005L17.9998 8.25C18.3031 8.25 18.5766 8.43273 18.6927 8.71298C18.8088 8.99324 18.7446 9.31583 18.5301 9.53033L12.5301 15.5303C12.2373 15.8232 11.7624 15.8232 11.4695 15.5303L5.46944 9.53038C5.25494 9.31588 5.19077 8.9933 5.30686 8.71304C5.42294 8.43278 5.69642 8.25005 5.99977 8.25005Z" fill="currentColor"></path>
              </svg>
            </span>
          </summary>
          <div class="flex flex-col absolute top-full mt-2 bg-white border border-emerald-600 rounded-lg shadow-lg p-2 gap-0.5">
            <a href="/documents/Form_17_Seller_Disclosure.pdf" download class="flex gap-2 py-1 pl-2 pr-3 hover:bg-gray-100 transition rounded-md font-semibold text-emerald-700 text-sm">
              <svg class="size-5 text-gray-500" viewBox="0 0 24 24" fill="none">
                <path d="M12 14.5L12 4.5M12 14.5C11.2998 14.5 9.99153 12.5057 9.5 12M12 14.5C12.7002 14.5 14.0085 12.5057 14.5 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M20 16.5C20 18.982 19.482 19.5 17 19.5H7C4.518 19.5 4 18.982 4 16.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              Form 17 Seller Disclosure
            </a>
            <a href="/documents/SP-Exceptions_31_20200130001028_CCR.pdf" download class="flex gap-2 py-1 pl-2 pr-3 hover:bg-gray-100 transition rounded-md font-semibold text-emerald-700 text-sm">
              <svg class="size-5 text-gray-500" viewBox="0 0 24 24" fill="none">
                <path d="M12 14.5L12 4.5M12 14.5C11.2998 14.5 9.99153 12.5057 9.5 12M12 14.5C12.7002 14.5 14.0085 12.5057 14.5 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M20 16.5C20 18.982 19.482 19.5 17 19.5H7C4.518 19.5 4 18.982 4 16.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              CCRs
            </a>
            <a href="/documents/Title_Report.PDF" download class="flex gap-2 py-1 pl-2 pr-3 hover:bg-gray-100 transition rounded-md font-semibold text-emerald-700 text-sm">
              <svg class="size-5 text-gray-500" viewBox="0 0 24 24" fill="none">
                <path d="M12 14.5L12 4.5M12 14.5C11.2998 14.5 9.99153 12.5057 9.5 12M12 14.5C12.7002 14.5 14.0085 12.5057 14.5 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M20 16.5C20 18.982 19.482 19.5 17 19.5H7C4.518 19.5 4 18.982 4 16.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              Title Report (2020)
            </a>
            <a href="/documents/BGCertificateOfMerit_2018SF50.6.pdf" download class="flex gap-2 py-1 pl-2 pr-3 hover:bg-gray-100 transition rounded-md font-semibold text-emerald-700 text-sm">
              <svg class="size-5 text-gray-500" viewBox="0 0 24 24" fill="none">
                <path d="M12 14.5L12 4.5M12 14.5C11.2998 14.5 9.99153 12.5057 9.5 12M12 14.5C12.7002 14.5 14.0085 12.5057 14.5 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M20 16.5C20 18.982 19.482 19.5 17 19.5H7C4.518 19.5 4 18.982 4 16.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              Built Green certification
            </a>
            <a href="/documents/3019d_flyer.pdf" download class="flex gap-2 py-1 pl-2 pr-3 hover:bg-gray-100 transition rounded-md font-semibold text-emerald-700 text-sm">
              <svg class="size-5 text-gray-500" viewBox="0 0 24 24" fill="none">
                <path d="M12 14.5L12 4.5M12 14.5C11.2998 14.5 9.99153 12.5057 9.5 12M12 14.5C12.7002 14.5 14.0085 12.5057 14.5 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M20 16.5C20 18.982 19.482 19.5 17 19.5H7C4.518 19.5 4 18.982 4 16.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              Printable flyer
            </a>
          </div>
        </details>
      </div>
    </div>
      <div class="flex flex-1 flex-col gap-5 text-lg lg:max-w-lg">
        <p>Experience the best of Alki Beach living in this modern, light-filled 2020 townhome with sleek finishes, an open layout, and energy-efficient design. The first floor features open-concept living with floating stairs, premium appliances, and expansive windows. A ductless mini-split keeps things comfortable and efficient.</p>
        <p>The middle floor offers two versatile bedrooms and a shared full bath. Upstairs, the oversized primary suite includes a large, spa-like bathroom with dual sinks, ample storage, and a walk-in shower—conveniently accessible from the hallway for rooftop entertaining.</p>
        <p>Just steps from West Seattle’s top cafés and dining—Ampersand, Cactus, Harry’s, Driftwood, Salty’s—and close to beach trails, kayaking, and nightlife. With no HOA fees, efficient heating & cooling, and off-street parking, this home blends modern comfort with coastal charm.</p>
        <p>Commission offered to buyer agents. Terms negotiable with offer.</p>
      </div>
    </div>
</section>
