<section id="photos" class="mx-auto flex max-w-7xl flex-col gap-12 p-6 py-12 sm:py-24 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <p class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl lg:text-balance">Take a look inside</p>
    <p class="mt-6 text-lg/8 text-gray-600">Browse photos of the home and get a feel for the space, style, and layout.</p>
  </div>
  <div id="photo-carousel" class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
      <div class="relative aspect-square"><img class="h-full w-full cursor-pointer rounded-xl object-cover" src="/images/3019d_02.webp" width="1086" height="723" alt="Townhome kitchen 1" loading="lazy" /></div>
      <div class="relative aspect-square"><img class="h-full w-full cursor-pointer rounded-xl object-cover" src="/images/3019d_04.webp" width="1086" height="723" alt="Townhome living room 1" loading="lazy" /></div>
      <div class="relative aspect-square"><img class="h-full w-full cursor-pointer rounded-xl object-cover" src="/images/3019d_05.webp" width="1086" height="723" alt="Townhome living room 2" loading="lazy" /></div>
      <div class="relative aspect-square"><img class="h-full w-full cursor-pointer rounded-xl object-cover" src="/images/3019d_08.webp" width="1086" height="723" alt="Townhome kitchen 2" loading="lazy" /></div>
      <div class="relative aspect-square"><img class="h-full w-full cursor-pointer rounded-xl object-cover" src="/images/3019d_10.webp" width="1086" height="723" alt="Townhome study" loading="lazy" /></div>
      <div class="relative aspect-square"><img class="h-full w-full cursor-pointer rounded-xl object-cover" src="/images/3019d_11.webp" width="1086" height="723" alt="Townhome bathroom" loading="lazy" /></div>
      <div class="relative aspect-square"><img class="h-full w-full cursor-pointer rounded-xl object-cover" src="/images/3019d_12.webp" width="1086" height="723" alt="Townhome bedroom" loading="lazy" /></div>
      <div class="relative aspect-square"><img class="h-full w-full cursor-pointer rounded-xl object-cover" src="/images/3019d_13.webp" width="1086" height="723" alt="Townhome master bedroom" loading="lazy" /></div>
      <div class="relative aspect-square"><img class="h-full w-full cursor-pointer rounded-xl object-cover" src="/images/3019d_14.webp" width="1086" height="723" alt="Townhome master bathroom 1" loading="lazy" /></div>
      <div class="relative aspect-square"><img class="h-full w-full cursor-pointer rounded-xl object-cover" src="/images/3019d_15.webp" width="1086" height="723" alt="Townhome master bathroom 2" loading="lazy" /></div>
      <div class="relative aspect-square"><img class="h-full w-full cursor-pointer rounded-xl object-cover" src="/images/3019d_16.webp" width="1024" height="682" alt="Townhome rooftop patio" loading="lazy" /></div>
      <div class="relative aspect-square"><img class="h-full w-full cursor-pointer rounded-xl object-cover" src="/images/3019d_17.webp" width="1024" height="576" alt="Townhome aerial view" loading="lazy" /></div>
  </div>
  <div class="flex justify-center">
    <button id="viewAll" class="flex gap-2 rounded-md bg-emerald-600 px-3.5 py-2.5 font-semibold text-white shadow-xs drop-shadow-sm transition hover:bg-emerald-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600 cursor-pointer">
      <svg class="size-5" viewBox="0 0 24 24" fill="none">
        <path d="M18 16V4C18 2.89543 17.1046 2 16 2H4C2.89543 2 2 2.89543 2 4V16C2 17.1046 2.89543 18 4 18H16C17.1046 18 18 17.1046 18 16Z" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
        <path d="M18 6H20C21.1046 6 22 6.89543 22 8V20C22 21.1046 21.1046 22 20 22H8C6.89543 22 6 21.1046 6 20V18" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
        <path d="M4 18L11.7342 10.2659C12.4548 9.54528 13.602 9.48175 14.3978 10.1184L18 13.0001" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
      </svg>
      View all photos
    </button>
  </div>
  <dialog id="photoDialog" class="bg-opacity-75 fixed inset-0 m-0 h-screen max-h-full w-screen max-w-full flex-col justify-between bg-black">
    <div class="flex justify-end">
      <button id="closeButton" class="m-2 cursor-pointer rounded-full border border-transparent p-1 transition hover:border-white/40 focus:outline-0 md:m-6 md:p-2">
        <svg class="h-5 w-5 fill-white md:h-8 md:w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M4.11654 18.116C3.62839 18.6041 3.62839 19.3956 4.11654 19.8838C4.6047 20.3719 5.39616 20.3719 5.88431 19.8838L19.8843 5.88376C20.3725 5.39561 20.3725 4.60415 19.8843 4.11599C19.3962 3.62784 18.6047 3.62784 18.1165 4.11599L4.11654 18.116Z" />
          <path d="M5.88434 4.11599C5.39619 3.62784 4.60473 3.62784 4.11657 4.11599C3.62842 4.60415 3.62842 5.39561 4.11657 5.88376L18.1166 19.8838C18.6047 20.3719 19.3962 20.3719 19.8843 19.8838C20.3725 19.3956 20.3725 18.6041 19.8843 18.116L5.88434 4.11599Z" />
        </svg>
        <span class="sr-only">Close</span>
      </button>
    </div>
    <div class="flex flex-1 items-center justify-between select-none">
      <button id="prevButton" class="m-2 cursor-pointer rounded-full border border-transparent p-1 transition hover:border-white/40 focus:outline-0 md:m-6 md:p-2">
        <svg class="h-6 w-6 fill-white md:h-12 md:w-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M15.287 5.30711C15.5672 5.42319 15.75 5.69667 15.75 6.00002L15.75 18C15.75 18.3034 15.5673 18.5768 15.287 18.6929C15.0068 18.809 14.6842 18.7449 14.4697 18.5304L8.46967 12.5305C8.17678 12.2376 8.17677 11.7627 8.46966 11.4698L14.4696 5.4697C14.6841 5.2552 15.0067 5.19103 15.287 5.30711Z" />
        </svg>
        <span class="sr-only">Previous</span>
      </button>
      <div>
        <img id="modalImage" class="hidden" src="" alt="Expanded View" />
      </div>
      <button id="nextButton" class="m-2 cursor-pointer rounded-full border border-transparent p-1 transition hover:border-white/40 focus:outline-0 md:m-6 md:p-2">
        <svg class="h-6 w-6 fill-white md:h-12 md:w-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M8.71304 5.30711C8.99329 5.19103 9.31588 5.25519 9.53038 5.46969L15.5303 11.4697C15.8232 11.7626 15.8232 12.2375 15.5303 12.5304L9.53033 18.5304C9.31583 18.7449 8.99324 18.809 8.71299 18.6929C8.43273 18.5768 8.25 18.3034 8.25 18L8.25005 6.00002C8.25005 5.69667 8.43278 5.4232 8.71304 5.30711Z" />
        </svg>
        <span class="sr-only">Next</span>
      </button>
    </div>
  </dialog>
</section>
