<section id="features" class="relative mt-6 pt-16">
  <div class="flex flex-col gap-3 sm:gap-6 bg-slate-100 px-6 sm:px-12 pt-1 pb-14 text-center">
    <h2 class="font-lora -my-8 mb-3 text-5xl">Features & Amenities</h2>
    <ul class="m-auto flex flex-wrap items-center justify-center gap-2 sm:gap-4 text-sm md:w-4/5 md:text-base">
      <li class="rounded-full border sm:border-2 border-slate-800 bg-white px-2 sm:px-3 py-1">Open Concept Design</li>
      <li class="rounded-full border sm:border-2 border-slate-800 bg-white px-2 sm:px-3 py-1">Hardwood Floors</li>
      <li class="rounded-full border sm:border-2 border-slate-800 bg-white px-2 sm:px-3 py-1">Floating Stairs</li>
      <li class="rounded-full border sm:border-2 border-slate-800 bg-white px-2 sm:px-3 py-1">Energy Efficient Mini-Splits</li>
      <li class="rounded-full border sm:border-2 border-slate-800 bg-white px-2 sm:px-3 py-1">Tankless Water Heater</li>
      <li class="rounded-full border sm:border-2 border-slate-800 bg-white px-2 sm:px-3 py-1">Washer & Dryer</li>
      <li class="rounded-full border sm:border-2 border-slate-800 bg-white px-2 sm:px-3 py-1">Modern Kitchen</li>
      <li class="rounded-full border sm:border-2 border-slate-800 bg-white px-2 sm:px-3 py-1">Stainless Steel Appliances</li>
      <li class="rounded-full border sm:border-2 border-slate-800 bg-white px-2 sm:px-3 py-1">Gas Range</li>
      <li class="rounded-full border sm:border-2 border-slate-800 bg-white px-2 sm:px-3 py-1">Rooftop Deck</li>
      <li class="rounded-full border sm:border-2 border-slate-800 bg-white px-2 sm:px-3 py-1">Steps to Alki Beach</li>
      <li class="rounded-full border sm:border-2 border-slate-800 bg-white px-2 sm:px-3 py-1">Built Green Community</li>
      <li class="rounded-full border sm:border-2 border-slate-800 bg-white px-2 sm:px-3 py-1">Off-Street Parking</li>
      <li class="rounded-full border sm:border-2 border-slate-800 bg-white px-2 sm:px-3 py-1">Built in 2020</li>
      <li class="rounded-full border sm:border-2 border-slate-800 bg-white px-2 sm:px-3 py-1">No HOA</li>
    </ul>
  </div>
</section>
