<section id="slideshow" class="relative h-screen w-screen overflow-hidden" loading="lazy">
  <div class="flex justify-between">
    <h2 class="absolute bottom-0 z-10 z-10 p-12 text-4xl font-medium text-white drop-shadow lg:text-6xl xl:text-7xl">3019 62nd Ave SW, Unit D</h2>
    <button class="rounded-full bg-white/10 border border-white text-white">
      <svg class="h-12 w-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 107.8 35.7">
        <polygon points="107.8,17.8 81.1,0 81.1,14.2 0,14.2 0,21.5 81.1,21.5 81.1,35.7 " />
      </svg>
      <span class="sr-only">Scroll down</span>
    </button>
  </div>
  <img class="animate-kenburns absolute h-screen w-screen scale-110 object-cover transition-opacity duration-1000" src="/images/3019d_02.webp" width="1086" height="723" alt="Townhome kitchen 1" loading="eager" />
  <img class="animate-kenburns absolute hidden h-screen w-screen scale-110 object-cover opacity-0 transition-opacity duration-1000" src="/images/3019d_04.webp" width="1086" height="723" alt="Townhome living room 1" loading="lazy" />
  <img class="animate-kenburns absolute hidden h-screen w-screen scale-110 object-cover opacity-0 transition-opacity duration-1000" src="/images/3019d_05.webp" width="1086" height="723" alt="Townhome living room 2" loading="lazy" />
  <img class="animate-kenburns absolute hidden h-screen w-screen scale-110 object-cover opacity-0 transition-opacity duration-1000" src="/images/3019d_08.webp" width="1086" height="723" alt="Townhome kitchen 2" loading="lazy" />
  <img class="animate-kenburns absolute hidden h-screen w-screen scale-110 object-cover opacity-0 transition-opacity duration-1000" src="/images/3019d_10.webp" width="1086" height="723" alt="Townhome study" loading="lazy" />
  <img class="animate-kenburns absolute hidden h-screen w-screen scale-110 object-cover opacity-0 transition-opacity duration-1000" src="/images/3019d_11.webp" width="1086" height="723" alt="Townhome bathroom" loading="lazy" />
  <img class="animate-kenburns absolute hidden h-screen w-screen scale-110 object-cover opacity-0 transition-opacity duration-1000" src="/images/3019d_12.webp" width="1086" height="723" alt="Townhome bedroom" loading="lazy" />
  <img class="animate-kenburns absolute hidden h-screen w-screen scale-110 object-cover opacity-0 transition-opacity duration-1000" src="/images/3019d_13.webp" width="1086" height="723" alt="Townhome master bedroom" loading="lazy" />
  <img class="animate-kenburns absolute hidden h-screen w-screen scale-110 object-cover opacity-0 transition-opacity duration-1000" src="/images/3019d_14.webp" width="1086" height="723" alt="Townhome master bathroom 1" loading="lazy" />
  <img class="animate-kenburns absolute hidden h-screen w-screen scale-110 object-cover opacity-0 transition-opacity duration-1000" src="/images/3019d_15.webp" width="1086" height="723" alt="Townhome master bathroom 2" loading="lazy" />
  <img class="animate-kenburns absolute hidden h-screen w-screen scale-110 object-cover opacity-0 transition-opacity duration-1000" src="/images/3019d_16.webp" width="1024" height="682" alt="Townhome rooftop patio" loading="lazy" />
  <img class="animate-kenburns absolute hidden h-screen w-screen scale-110 object-cover opacity-0 transition-opacity duration-1000" src="/images/3019d_17.webp" width="1024" height="576" alt="Townhome aerial view" loading="lazy" />
</section>
