<section id="features" class="relative pt-16 mt-6">
  <div class="bg-slate-100 px-12 pt-1 pb-14 text-center flex flex-col gap-6">
    <h2 class="text-5xl font-playfair mb-3 -my-8">Features & Amenities</h2>
    <ul class="flex flex-wrap items-center justify-center gap-4 w-4/5 m-auto">
      <li class="py-1 px-3 bg-white rounded-full border-2 border-slate-800">Open Concept Design</li>
      <li class="py-1 px-3 bg-white rounded-full border-2 border-slate-800">Hardwood Floors</li>
      <li class="py-1 px-3 bg-white rounded-full border-2 border-slate-800">Floating Stairs</li>
      <li class="py-1 px-3 bg-white rounded-full border-2 border-slate-800">Energy Efficient Mini-Splits</li>
      <li class="py-1 px-3 bg-white rounded-full border-2 border-slate-800">Tankless Water Heater</li>
      <li class="py-1 px-3 bg-white rounded-full border-2 border-slate-800">Washer & Dryer</li>
      <li class="py-1 px-3 bg-white rounded-full border-2 border-slate-800">Modern Kitchen</li>
      <li class="py-1 px-3 bg-white rounded-full border-2 border-slate-800">Stainless Steel Appliances</li>
      <li class="py-1 px-3 bg-white rounded-full border-2 border-slate-800">Gas Range</li>
      <li class="py-1 px-3 bg-white rounded-full border-2 border-slate-800">Rooftop Deck</li>
      <li class="py-1 px-3 bg-white rounded-full border-2 border-slate-800">Steps to Alki Beach</li>
      <li class="py-1 px-3 bg-white rounded-full border-2 border-slate-800">Built Green Community</li>
      <li class="py-1 px-3 bg-white rounded-full border-2 border-slate-800">Off-Street Parking</li>
      <li class="py-1 px-3 bg-white rounded-full border-2 border-slate-800">Built in 2020</li>
      <li class="py-1 px-3 bg-white rounded-full border-2 border-slate-800">No HOA</li>
    </ul>
  </div>
</section>