<section class="bg-slate-100 px-12 pt-1 pb-14 mt-24 flex flex-col gap-6 items-center justify-center" id="features">
  <h2 class="text-5xl font-lora mb-3 -my-8">Presented By</h2>
  <div class="flex flex-col md:flex-row items-center gap-12 md:self-start py-12 md:py-24">
    <img class="h-48 w-auto -scale-x-100" height="3018" width="3018" src="/images/jesse-headshot.webp" alt="Jesse Trippe headshot">
    <div class="flex flex-col gap-6">
      <h3 class="text-4xl md:text-5xl font-lora">Jesse Trippe</h3>
      <div class="flex flex-col md:flex-row gap-6 md:gap-24 items-center text-center">
        <dl>
          <dt class="text-slate-600 font-lora uppercase">Title</dt>
          <dd>Owner</dd>
        </dl>
        <dl>
          <dt class="text-slate-600 font-lora uppercase">Phone</dt>
          <dd>(734) 649-6602</dd>
        </dl>
        <dl>
          <dt class="text-slate-600 font-lora uppercase">Email</dt>
          <dd>jesset@me.com</dd>
        </dl>
      </div>
    </div>
  </div>
</section>