<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="scroll-smooth">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="robots" content="index, follow">
    <meta name="description" content="{{ site.description }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:url" content="https://alkitownhome.com">
    <meta property="og:image" content="https://alkitownhome.com/images/living_room_2-2000w.webp">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="{{ "/styles/main.css" | relative_url }}">  
    <link rel="preload" as="image" href="/images/outside_1-2000w.webp">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-17012611280">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'AW-17012611280');
    </script>
  </head>
  <body class="font-inter antialiased">
    {{ content }}
    
    <script src="{{ "/scripts/main.js" | relative_url }}"></script>
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "9e8f1bf42f6541379eca8349cef969bf"}'></script>
  </body>
</html>
